<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.openarchitectureware.org/vis/blockdiagram/metamodel/BlockDiagram" 
       class = "org.openarchitectureware.vis.blockdiagram.metamodel.blockDiagram.BlockDiagramPackage"
       genModel = "org/openarchitectureware/vis/blockdiagram/metamodel/BlockDiagram.genmodel" /> 
	
  </extension>





</plugin>
